<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FriendFeed" %></title>
    <%= csrf_meta_tags %>
	
    <%= stylesheet_link_tag "application", :media => "all" %>

		<!--[if IE 7]>
			<link href="/assets/font-awesome-ie7.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

  </head>
  <body>
	<header id="header">
		<div id="headerbg"></div>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<div>

						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<h1 class="brand"><i class="icon-user"></i>FriendFeed<i class="icon-rss"></i></h1>

						<div class="nav-collapse collapse navbar-responsive-collapse">

							<ul id="nav" class="nav">
								<li><a href="#home" class="active">home</a></li>
								<li><a href="#about">about</a></li>
							</ul>

						</div>

					</div>
				</div>
			</div>
		</div>
	</header>
	<%= yield %>
	<footer id="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<p>Copyright &copy; 2013 FriendFeed - all rights reserved</p>
				</span>
			</div>
		</div>
	</footer>


    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
